.todoList{
  display:flex;
  justify-content: space-between;
  align-items: center;
  .list{
    width:70%;
  }
  .btn_group{
    width:30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      width:49%;
    }
  }
}